*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}



body {
    height: 100vh;
    background-color:#afceed; /*#a3c4cc #c2e6ed */
    display:flex;
}

#start-page{
    height:100vh;
    width:100vw;
    display:inline-block;
    z-index: 2;
    position: absolute;
}

.start-page-inner-container{

    position: relative;
    height: 99vh;
    width:99vw;


}

.start-page-text-container{

    position: relative;
    width: 400px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.hero{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 75px;
}

.start-page-text{
    font-size: 2.5em;
    color:yellow;
    font-family: 'Bangers', cursive;


}
#explanation{
    font-size:0.7em;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.hide-game-board{
    visibility: hidden;
}

#start-button{

    background-color:orange;
}
#start-button:hover{
    font-size: 1.5em;
    cursor:pointer;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

#actiontext{

    font-size:2em;
    vertical-align: middle;
    overflow:hidden;
    position: relative;
    font-family: 'Bangers', cursive;
    color:yellow;
}

#game-board{

    vertical-align: center;
    display:flex;
    height:100vh;
    min-width:80vw;
    flex-wrap:wrap;
    z-index:2;

}

.memory-card{
    width:calc(20% - 4px);
    height:calc(25% - 4px);
    display:flex;
    overflow:hidden;
    margin:2px;
    position:relative;
    border-radius: 15px;



}

.front-face,.back-face{
    transition:transform 0.5s linear;
    backface-visibility: hidden;

}

img{
    width:100%;
    height:100%;
    position:absolute;
}

.turn.front-face{
    transform: perspective(600px) rotateY(0deg);
}

.turn.back-face{
    transform: perspective(600px) rotateY(180deg);
}


.front-face{
    transform:perspective(600px) rotateY(-180deg);
}
.back-face {
    transform: perspective(600px) rotateY(0deg);
}



/*
@media screen and (max-width: 730px) {
    .memory-card {
        width: 23.8%;
        height: 24%;
        display: flex;
        overflow: hidden;
        margin: 2px;
        position: relative;
        border-radius: 15px;
    }
}

@media screen and (min-width: 730px){
    .memory-card{
        width:17%;
        height:30%;
        display:flex;
        overflow:hidden;
        margin:2px;
        position:relative;
        border-radius: 15px;
    }
}


@media screen and (max-width:2000px) and (min-width: 1000px) {

.memory-card:hover{
        box-shadow:    0 0 10px #666;
    border:none;
    }

}
*/




#title-container{
    width:100%;
    height:5vh;
    position:absolute;


}
#title{

    text-align: center;
    font-family: 'Antic Slab', serif;
    display:block;


}

.paired-cards{
    visibility: hidden;
}

#end-screen{
    position:absolute;
    height:50%;
    width:50%;
    margin-left:15%;
    padding:0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    z-index:99;
    border-radius:20px;
    align-self: center;



}

.button-container {
    height: 200px;
    position: relative;

}
.center {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.end-screen-cont{
    position:relative;
    height:100%;
    width:100%;

    display:inline-table;
}

.end-screen-text{
    margin-top:20px;
    text-align: center;
    color:yellow;

    font-size:10em;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px #222222 ;

}

.end-screen-button{
    color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    border:none;
    font-size: 3em;
    background-color:orange;
    font-family: 'Bangers', cursive;

}
.end-screen-button:hover{
    cursor: pointer;
    background-color:white;
}


.hide{
    visibility: hidden;
}





